body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: brown;
}

h1, h2, h3 {
    margin: 0;
}

#container{
    background-color:wheat;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header{

    background-color: goldenrod;
    color: white;
    text-align: center;

    }

#content{
    padding: 10px;

}

#nav{
    width: auto;
    float: left;

}

#nav .selected{
    font-weight: bold;
}

#nav .ul{
    list-style-type: none;
    padding: 0;

}

#main{
    width: 100px;
    float: right;


}

#footer{
    clear: both;


}


